attrs==23.2.0
beautifulsoup4==4.12.3
cattrs==23.2.3
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
lxml==5.2.2
platformdirs==4.2.2
prettytable==3.10.0
requests==2.32.3
requests-cache==1.2.1
six==1.16.0
soupsieve==2.5
tqdm==4.66.4
url-normalize==1.4.3
urllib3==2.2.2
